<h1>Movies</h1>
<table>
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">映画タイトル</th>
      <th scope="col">公開年</th>
      <th scope="col">上映中か</th>
      <th scope="col">概要</th>
      <th scope="col">画像URL</th>
      <th scope="col">作成日時</th>
      <th scope="col">更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <th scope="row"><%= movie.id %></th>
        <td><%= movie.name %></td>
        <td><%= movie.year %></td>
        <td><%= movie.is_showing ? '上映中' : '上映予定' %></td>
        <td><%= movie.description %></td>
        <td><%= image_tag( movie.image_url ) %></td>
        <td><%= movie.created_at %></td>
        <td><%= movie.updated_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
