<h1>Movies Create</h1>
<div class="m-5 p-3 border">
<%= form_with model: [:admin, @movie] do |f| %>
  <div class="form-group row p-2">
    <%= f.label '映画タイトル', class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row p-2">
    <%= f.label '公開年', class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_field :year, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row p-2">
    <%= f.label '上映中か', class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.select :is_showing, [['上映中', 1], ['上映予定', 0]], { selected: 1 } %>
    </div>
  </div>
  <div class="form-group row p-2">
    <%= f.label '概要', class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row p-2">
    <%= f.label '画像URL', class: "col-sm-2 col-form-label" %>
    <div class="col-sm-10">
      <%= f.url_field :image_url, class: "form-control" %>
    </div>
  </div>
  <div class="text-end p-2">
    <%= f.submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
